<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Ejemplo MVC - Estructura inicial con NodeJs y Express</title>
</head>
<body>
    <h1>Página principal</h1>

    <h3>Rutas ejemplo: </h3>
    <ul>
        <li>
            <p>
                Para obtener listado de productos: <a href="/products">/products</a>
            </p>
        </li>
        <li>
            <p>
                Para obtener detalle de un producto: <a href="/products/12">/products/12</a>
                <span>( /products/id )</span>
            </p>
        </li>
    </ul>
</body>
</html>